.menu__container {
  background-color: black;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.icon__container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__container a img {
  height: 45px;
  width: 45px;
  margin: 0 12px;
}
