.header__container {
  background-color: black;
  color: #e32882;
  height: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menuButton {
  height: 10vh;
  margin: 4vw;
}

.header__logo {
  height: 20vh;
  width: auto;
}

.header__contactButton{
  height: 15vh;
}
