.header__container {
  background-color: black;
  height: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menuButton {
  height: 8vh;
  margin: 4vw;
}

.header__logo {
  height: 18vh;
  width: auto;
}

.header__contactButton{
  height: 12vh;
  margin: 4vw;
}
