@import './style-var.css';

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  border: none;
}

.App {
  margin: 0;
  text-align: center;
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: var(--title-font-family);
  font-size: 64px;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-family: var(--title-font-family);
  color: var(--evil-pink);
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}

button {
  cursor: pointer;
  background: none;
  color: white;
  text-transform: uppercase;
}
